@import "_variables.scss";
@import "_function.scss";

%container-border {
  border: 1px solid red;
}

div {
  @extend %container-border;

  h1 {
    text-align: center;
    text-decoration: underline 1px blue;
    color: green;
  }

  h2 {
    @extend h1;
    padding: 1rem;
    border: rem(1px) solid red;
    width: rem(250px);
    margin: auto;
  }

  #main-section {
    display: flex;
    justify-content: space-around;
    padding: rem(20px);

    article {
      text-align: center;
      padding: rem(15px);
    }

    .main-article:nth-child(odd) {
      @include article-card(blue, 1px solid green, 1rem)
    }

    .main-article:nth-child(even) {
      @include article-card(red, 1px solid green, 1rem)
    }

  }
////////////////////////
#second-section {
  display: flex;
  justify-content: space-around;
  .fs-1rem,
  .fs-2rem,
  .fs-3rem {
    width: 3rem;
    height: 3rem;
    text-align: left;

    $num: 0;
    @for $i from 1 through 19 {
      $num: $num + 5;
      @if $i == 10 {
        &:nth-child(#{$i}) {
          background-color: blue;
          color: red;
       }
     }
     @else {
        &:nth-child(#{$i}) {
          background-color: darken(white, $num);
          color: lighten(#000000, $num);
        }
      }
    }
  }
$size: 1rem 2rem 3rem;

    @each $i in $size {
        .fs-#{$i} {
            font-size: $i;
        }
    }
}
}
////////////////////////
  #footer-section {
    padding: rem(20px);

    #footer-article {
      text-align: center;
      @include article-card(green, 1px solid blue, rem(24px))
    }

  }
